/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/eng-tha.autobil.bin
/eng-tha.autogen.bin
/eng-tha.autolex.bin
/eng-tha.automorf.bin
/eng-tha.autopgen.bin
/eng-tha.rlx.bin
/eng-tha.t1x.bin
/eng-tha.t2x.bin
/eng-tha.t3x.bin
/install-sh
/missing
/modes
/tha-eng.autobil.bin
/tha-eng.autogen.bin
/tha-eng.autolex.bin
/tha-eng.automorf.bin
/tha-eng.autopgen.bin
/tha-eng.rlx.bin
/tha-eng.t1x.bin
/tha-eng.t2x.bin
/tha-eng.t3x.bin
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*.mode
/*-*.prob
/config.in
/config
/test/*-output.txt
